h3{
    font-size: 50px;
    font-family: Arial;
    text-align: left;
    color: #ffd700;
    font-style: italic;
}
body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;

}
* {
    box-sizing: border-box;
}


.bg-img {
    background-position: right;
    background-repeat: no-repeat;
    background-size: initial;
    position: relative;
}

.container {
    position: absolute;
    text-align: right;
    color: rebeccapurple;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
.card-body { 
      text-align: initial;
      position: absolute;
      
  }

.btn {
    background-color: #4caf50;
    color: rgb(41, 24, 24);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.btn:hover {
    opacity: 1;
}

div {
    background-color: burlywood;
    padding-left: 0px;
}

.jumbotron {
    background-color: #e3eafa;
   padding: 0;
   margin:0%;
   border-radius: 0px;
   
}

.column1 {
    float: left;
    width: 50%;
    padding-top: 0%;
    
}
.column2 {
    float: right;
    width: 50%;
    padding-top: 0px;
}


h2 {
    font-style: italic;
    color: rgb(0, 217, 255);
}   
 
p {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    
}
